.section-category {
  padding-top: 65px;

  h3 {
    margin-bottom: 35px;
    text-transform: uppercase;
  }

  &__card {
    display: block;
    position: relative;
    height: 260px;
    transition: .3s ease-in-out;
    margin-top: 30px;

    &:hover {
      box-shadow: 0 0 30px rgba(0,0,0,0.4);
      .section-category__desc {
        background-color: rgba(0,0,0,0.5);

        &--left {
          background-color: $red;
        }

        &--alt {
          background-color: transparent;
        }
      }
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__desc{
    position: absolute;
    z-index: 2;
    bottom: 20px;
    right: 20px;
    padding: 13px 17px;
    background-color: $red;
    color: $white;
    font-weight: $bold;
    text-transform: uppercase;
    transition: .3s ease-in-out;
    max-width: calc(100% - 60px);

    &--left {
      top: 20px;
      left: 20px;
      bottom: auto;
      right: auto;
      background-color: rgba(0,0,0,0.5);
    }

    &--alt {
      background-color: transparent;

      p {
        color: #eadadb;
        text-transform: initial;
        margin-top: 16px;
        max-width: 60%;
      }
    }
  }
}
