include ../global/_header.pug
title SSVET
body
    button.button.button--primary-stroked privet mir
    button.button.button--primary-flat privet mir
    button.button.button--secondary-flat privet mir
    button.button.button--secondary-stroked privet mir

    include ./sections/categories.pug
    include ./sections/features.pug
    include ./sections/subscribe.pug


    include ./sections/brands.pug