.btn {
  border-radius: 100px;
  box-shadow: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 13px 30px;
  font-size: 14px;
  line-height: 1;
  font-weight: $light;
  font-family: $font-family;
  outline: none;
  transition: .3s ease-in-out;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    outline: none;
  }

  &--primary {
    background-color: $red;
    border: 2px solid $red;
    color: $white;

    &:hover,
    &:active,
    &:focus {
      color: $text-default;
      background-color: transparent;
    }
  }

  &--secondary {
    background-color: $title;
    border: 2px solid $title;
    color: $white;

    &:hover,
    &:active,
    &:focus {
      color: $text-default;
      background-color: transparent;
    }
  }

  &--stroked {
    background-color: transparent;
    border: 2px solid $red;
    color: $text-default;

    &:hover,
    &:active,
    &:focus {
      background-color: $red;
      color: $white;
    }

    &.btn--secondary {
      border-color: $title;

      &:hover,
      &:active,
      &:focus {
        background-color: $title;
      }
    }
  }

  &--fluid {
    width: 100%;
  }
}
