.section-info {
  padding: 65px 0;
  background-color: #efeeee;

  h3 {
    margin-bottom: 65px;
  }

  &__btn {
    margin-top: 24px;
    font-weight: $bold;
    color: $red;

    img {
      margin-left: 8px;
      width: 16px;
      height: 16px;
      transition: .3s ease-in-out;
    }

    &--reversed {
      img {
        transform: rotateZ(180deg);
      }
    }
  }
}