+b.header
  +b.logo.__logo
    +e.link(href="/")
      +e.img(src="./assets/svg/logo.svg" alt="")

  +e.UL.info
    +e.info-item Москва
    +e.info-item
      a(tel="8 800 250 52 06") 8 800 250 52 06

  +b.NAV.nav
    +e.UL.list
      +e.item
        a(href="") ГЛАВНАЯ
      +e.item
        a(href="") МАГАЗИН
      +e.item
        a(href="") БРЕНДЫ
      +e.item
        a(href="") УСЛОВИЯ ДОСТАВКИ
