+b.header
  .container-fluid
    +e.inner
      +b.logo.__logo
        +e.link(href="/")
          +e.img(src="/dist/assets/svg/logo.svg" alt="")

      +b.UL.header-info.__info
        +e.item Москва
        +e.item
          a(tel="8 800 250 52 06") 8 800 250 52 06

      +b.NAV.nav.__nav
        +e.UL.list
          +e.item
            +e.link(href="/") ГЛАВНАЯ
          +e.item
            +e.link(href="/") МАГАЗИН
          +e.item
            +e.link(href="/") БРЕНДЫ
          +e.item
            +e.link(href="/") УСЛОВИЯ ДОСТАВКИ
