extends ../../layouts/main

//- block variables
//-   - var title = 'SSVET'

block content
  include ./sections/intro
  include ./sections/categories
  include ./sections/features
  include ./sections/subscribe
  include ./sections/brands
