section.section-category
  .container-fluid
    .row.justify-content-center
      h3 Освещаем что угодно
    .row
      .col-lg-6
        a(href="javascript(void:0)").section-category__card
          img.section-category__image(src="https://mirpozitiva.ru/uploads/posts/2017-04/medium/1492620921_06.jpg", alt="")
          .section-category__desc Освещение кафе и ресторанов
      .col-lg-3
        a(href="javascript(void:0)").section-category__card
          img.section-category__image(src="https://mirpozitiva.ru/uploads/posts/2017-04/medium/1492620921_06.jpg", alt="")
          .section-category__desc.section-category__desc--left Освещение для кухни
      .col-lg-3
        a(href="javascript(void:0)").section-category__card
          img.section-category__image(src="https://mirpozitiva.ru/uploads/posts/2017-04/medium/1492620921_06.jpg", alt="")
          .section-category__desc Офисное освещение
      .col-lg-3
        a(href="javascript(void:0)").section-category__card
          img.section-category__image(src="https://mirpozitiva.ru/uploads/posts/2017-04/medium/1492620921_06.jpg", alt="")
          .section-category__desc.section-category__desc--left Освещение для кухни
      .col-lg-6
        a(href="javascript(void:0)").section-category__card
          img.section-category__image(src="https://mirpozitiva.ru/uploads/posts/2017-04/medium/1492620921_06.jpg", alt="")
          .section-category__desc Освещение для кухни
      .col-lg-3
        a(href="javascript(void:0)").section-category__card
          img.section-category__image(src="https://mirpozitiva.ru/uploads/posts/2017-04/medium/1492620921_06.jpg", alt="")
          .section-category__desc.section-category__desc--left.section-category__desc--alt Освещение для бань и саун
            p Тут должен быть супер крутой текст про освещение бань и саун 