section.section-feature
  .container
    .row.justify-content-center.align-items-end
      img(src="", alt="")
      h3 За что любят свет
      span.section-feature__logo-highlight .ру
    .row.section-feature__card-block
      .col-lg-3
        .section-feature__card
          img.section-feature__icon(src="https://cdn.pixabay.com/photo/2017/03/29/04/09/shopping-icon-2184065_960_720.png", alt="")
          p Более 100 000 различных светиильников
      .col-lg-3
        .section-feature__card
          img.section-feature__icon(src="https://cdn.pixabay.com/photo/2017/03/29/04/09/shopping-icon-2184065_960_720.png", alt="")
          p Гарантия качества товаров. Проверка товаров перед оплатой.
      .col-lg-3
        .section-feature__card
          img.section-feature__icon(src="https://cdn.pixabay.com/photo/2017/03/29/04/09/shopping-icon-2184065_960_720.png", alt="")
          p 14 дней на обмен и возврат
      .col-lg-3
        .section-feature__card
          img.section-feature__icon(src="https://cdn.pixabay.com/photo/2017/03/29/04/09/shopping-icon-2184065_960_720.png", alt="")
          p Быстрая и бережная доставка по всей России