section.section-info
  .container-fluid
    .row.justify-content-center
      h3 Люстры и светильники в магазине СВЕТ
        span.red .ру
    .row
      .col-12
        p Хватит тратить время на поиски светильников, люстр или торшеров – онлайн-гипермаркет СВЕТ.ру то, что вам нужно! Наш интернет магазин предлагает большой ассортимент различных светильников и люстр. В каталоге вы найдете качественные товары проверенных производителей из разных стран (Германия, Россия, Бельгия, Чехия, Австрия и Китай). В магазине вы можете приобрести изделия различного дизайна и ценовой категории. Ассортимент состоит из множества видов: Политикой магазина предусмотрено предоставление накопительных карт для покупателей. Вы сможете собирать баллы и экономить на последующих покупках или приобрести подарочный сертификат на определенную сумму, осчастливив близких и коллег на праздники. В магазине часто проводятся акции и распродажи прошлых коллекций известных марок. Вы можете сэкономить до 70%. Мы организуем доставку с помощью собственной транспортной службы в пределах Москвы и области, а также Санкт-Петербурга. Для отправки по стране используются услуги компаний-перевозчиков. Также наши специалисты могут установить для вас осветительные приборы. При покупке товара у нас вы получаете гарантию на 18 месяцев. Существует система возврата, в случае дефекта или каких либо несоответствий указанному качеству. Для вашего удобства наши консультанты предоставят консультацию по продукции, помогут подобрать наиболее подходящий вариант. Звоните нам прямо сейчас по телефону, указанному на сайте. Покупайте только качественные осветительные приборы с интернет-магазином СВЕТ.ру!
        p.collapse#collapsedInfo
          |Хватит тратить время на поиски светильников, люстр или торшеров – онлайн-гипермаркет СВЕТ.ру то, что вам нужно! Наш интернет магазин предлагает большой ассортимент различных светильников и люстр. В каталоге вы найдете качественные товары проверенных производителей из разных стран (Германия, Россия, Бельгия, Чехия, Австрия и Китай). В магазине вы можете приобрести изделия различного дизайна и ценовой категории. Ассортимент состоит из множества видов: Политикой магазина предусмотрено предоставление накопительных карт для покупателей. Вы сможете собирать баллы и экономить на последующих покупках или приобрести подарочный сертификат на определенную сумму, осчастливив близких и коллег на праздники. В магазине часто проводятся акции и распродажи прошлых коллекций известных марок. Вы можете сэкономить до 70%. Мы организуем доставку с помощью собственной транспортной службы в пределах Москвы и области, а также Санкт-Петербурга. Для отправки по стране используются услуги компаний-перевозчиков. Также наши специалисты могут установить для вас осветительные приборы. При покупке товара у нас вы получаете гарантию на 18 месяцев. Существует система возврата, в случае дефекта или каких либо несоответствий указанному качеству. Для вашего удобства наши консультанты предоставят консультацию по продукции, помогут подобрать наиболее подходящий вариант. Звоните нам прямо сейчас по телефону, указанному на сайте. Покупайте только качественные осветительные приборы с интернет-магазином СВЕТ.ру!
        .row.justify-content-center
          button.btn.btn--primary.btn--stroked.section-info__btn#collapsedButton(data-toggle="collapse"
            data-target="#collapsedInfo" aria-expanded="false"
            aria-controls="collapseExample") 
            span Читать далее
            img(src="https://static.thenounproject.com/png/344375-200.png", alt="2")
    .section-info__nav.d-sm-none.d-lg-block
      nav.row.nav-filter
        .col-lg-2
          h4.nav-filter__title Люстры
          ul.nav-filter__list
            li.nav-filter__item
              a(href="http://") Потолочные
            li.nav-filter__item
              a(href="http://") Подвесные
            li.nav-filter__item
              a(href="http://") Хрустальные люстры
            li.nav-filter__item
              a(href="http://") Большие люстры
            li.nav-filter__item
              a(href="http://") Каскадные
            li.nav-filter__item
              a(href="http://") Лифты для люстр
        .col-lg-2
          h4.nav-filter__title Люстры
          ul.nav-filter__list
            li.nav-filter__item
              a(href="http://") Потолочные
            li.nav-filter__item
              a(href="http://") Подвесные
            li.nav-filter__item
              a(href="http://") Хрустальные люстры
            li.nav-filter__item
              a(href="http://") Большие люстры
            li.nav-filter__item
              a(href="http://") Каскадные
            li.nav-filter__item
              a(href="http://") Лифты для люстр
        .col-lg-2
          h4.nav-filter__title Люстры
          ul.nav-filter__list
            li.nav-filter__item
              a(href="http://") Потолочные
            li.nav-filter__item
              a(href="http://") Подвесные
            li.nav-filter__item
              a(href="http://") Хрустальные люстры
            li.nav-filter__item
              a(href="http://") Большие люстры
            li.nav-filter__item
              a(href="http://") Каскадные
            li.nav-filter__item
              a(href="http://") Лифты для люстр
        .col-lg-2
          h4.nav-filter__title Люстры
          ul.nav-filter__list
            li.nav-filter__item
              a(href="http://") Потолочные
            li.nav-filter__item
              a(href="http://") Подвесные
            li.nav-filter__item
              a(href="http://") Хрустальные люстры
            li.nav-filter__item
              a(href="http://") Большие люстры
            li.nav-filter__item
              a(href="http://") Каскадные
            li.nav-filter__item
              a(href="http://") Лифты для люстр
        .col-lg-2
          h4.nav-filter__title Люстры
          ul.nav-filter__list
            li.nav-filter__item
              a(href="http://") Потолочные
            li.nav-filter__item
              a(href="http://") Подвесные
            li.nav-filter__item
              a(href="http://") Хрустальные люстры
            li.nav-filter__item
              a(href="http://") Большие люстры
            li.nav-filter__item
              a(href="http://") Каскадные
            li.nav-filter__item
              a(href="http://") Лифты для люстр
        .col-lg-2
          h4.nav-filter__title Люстры
          ul.nav-filter__list
            li.nav-filter__item
              a(href="http://") Потолочные
            li.nav-filter__item
              a(href="http://") Подвесные
            li.nav-filter__item
              a(href="http://") Хрустальные люстры
            li.nav-filter__item
              a(href="http://") Большие люстры
            li.nav-filter__item
              a(href="http://") Каскадные
            li.nav-filter__item
              a(href="http://") Лифты для люстр
      