section.section-news
  .container-fluid
    .row.justify-content-center
      h3 Освещаем что угодно /
        a(href="#").section-news__title-highlighed все новости
    .row
      .col-lg-4
        a(href="#").news-card
          .news-card__image
            img(src="https://habrastorage.org/files/4bd/3b5/d15/4bd3b5d15e4440c08fcb47fcdd5f0301.jpg", alt="")
          h4.news-card__title Черная пятница, скидки до 70%
          .news-card__info
            .news-card__date
              img(src="", alt="")
              span 30 september 2018
            .news-card__comments
              img(src="", alt="")
              span Комментариев: 6
      .col-lg-4
        a(href="#").news-card
          .news-card__image
            img(src="https://habrastorage.org/files/4bd/3b5/d15/4bd3b5d15e4440c08fcb47fcdd5f0301.jpg", alt="")
          h4.news-card__title Черная пятница, скидки до 70%
          .news-card__info
            .news-card__date
              img(src="", alt="")
              span 30 september 2018
            .news-card__comments
              img(src="", alt="")
              span Комментариев: 6
      .col-lg-4
        a(href="#").news-card
          .news-card__image
            img(src="https://habrastorage.org/files/4bd/3b5/d15/4bd3b5d15e4440c08fcb47fcdd5f0301.jpg", alt="")
          h4.news-card__title Черная пятница, скидки до 70%
          .news-card__info
            .news-card__date
              img(src="", alt="")
              span 30 september 2018
            .news-card__comments
              img(src="", alt="")
              span Комментариев: 6

