section.section-subscribe
  .container
    .row.justify-content-center
      h3.white Подписка на рассылку
    .row.justify-content-center
      .section-subscribe__subtitle.white Подпишитесь на рассылку 
        | и узнавайте об акциях и спецпредложениях первыми
    .row
      .col-lg-8.offset-lg-2
        input(type="text", name="")