section.section-subscribe
  .container
    .row.justify-content-center
      h3.white Подписка на рассылку
    .row.justify-content-center
      .section-subscribe__subtitle.white Подпишитесь на рассылку 
        | и узнавайте об акциях и спецпредложениях первыми
    .row
      .section-subscribe__mail
        input.section-subscribe__input(type="mail", name="" placeholder="Введите Ваш Email")
        button.btn.btn--primary.section-subscribe__button ПОДПИСАТЬСЯ